
@{
    ViewBag.Title = "SaveRecord";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/codemirror-5.65.3/lib/codemirror.css">
    <link rel="stylesheet" href="~/Content/codemirror-5.65.3/theme/darcula.css">
    <script src="~/Content/codemirror-5.65.3/addon/comment/comment.js"></script>
    <script src="~/Content/codemirror-5.65.3/lib/codemirror.js"></script>

    <link rel="stylesheet" href="~/Content/main.css">
    <title>Document</title>
</head>

<body>
    <h2>Compiler Project</h2>



    <div validateRequest="false">
        @using (Html.BeginForm("SaveRecord", "Token", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="btns">
                <label for="file">
                    Browse
                    <input class="browse" id="file" type="file" accept=".txt" name="browse">
                </label>


                <button class="scan" name="scan">Scan</button>
            </div>
            <textarea name="content" class="editor" id="editor" cols="30" rows="10"></textarea>
        }
        @*<button class="parse" name="parse">Parse</button>*@
    </div>


    <script src="~/Scripts/script.js"></script>

    <script>
        input.addEventListener("input", myscript);

        function myscript() {
            // e.preventDefualt;

            console.log("asda");
        }
        let editor = CodeMirror.fromTextArea(
            document.getElementById("editor"), {
            // theme: "darcula",
            lineNumbers: true,
        });
        input.addEventListener("input", myscript);

        function myscript() {
            // e.preventDefualt;

            console.log("asda");
        }
    </script>
    <div style="color:white;">
        @if (ViewBag.Emp_data != null)
        {
            foreach (var item in ViewBag.Emp_data)
            {
                <div>
                    <h6> @item</h6>
                </div>

            }
        }
    </div>
</body>

</html>



